
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import 'datatables.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Selectize

@import '../../../node_modules/selectize/dist/css/selectize.css';

// Font-awesome
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'template/sb-admin.scss';

body {
	font-family: sans-serif, FontAwesome;
}

* {
	font-family: sans-serif, FontAwesome !important;
}

.search {
    width: 400px !important;
}

 .big-checkbox {width: 13px; height: 13px;}

.zoek-knop {
	height: 36px;
}

#passwordbevestig {
	display: none;
}


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Login pagina

#login-logo {
	margin-top: 150px;
	margin-bottom: 30px;
}

// Product

.small_product_image {
	width: 90px;
	height: 90px;
}

table.dataTable tbody td {
  vertical-align: middle;
}

// Categorieën 

.deletemodal {
	font-size: 32px !important;
	color: red !important;
}

.editcategorie {
	font-size: 30px !important;
}

.small_categorie_image {
	width: 45px;
	height: 45px;
}

.medium_categorie_image {
	width: 100px;
	height: 100px;
}

// user profiel

.nav>li>a.userdd {
    padding: 5px 15px
}
.userprofile {
    width: 100%;
	float: left;
	clear: both;
	margin: 40px auto
}
.userprofile .userpic {
	height: 100px;
	width: 100px;
	clear: both;
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	position: relative; 
}
.userprofile .userpic .userpicimg {
	height: auto;
	width: 100%;
	border-radius: 100%;
}
.username {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	margin-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.username+p {
	color: #607d8b;
	font-size: 13px;
	line-height: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.settingbtn {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.userprofile.small {
	width: auto;
	clear: both;
	margin: 0px auto;
}
.userprofile.small .userpic {
	height: 40px;
	width: 40px;
	margin: 0 10px 0 0;
	display: block;
	border-radius: 100%;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	position: relative;
	float: left;
}
.userprofile.small .textcontainer {
	float: left;
	max-width: 100px;
	padding: 0
}
.userprofile.small .userpic .userpicimg {
	min-height: 100%;
	width: 100%;
	border-radius: 100%;
}
.userprofile.small .username {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	margin: 0px;
	float: left;
	width: 100%;
}
.userprofile.small .username+p {
	color: #607d8b;
	font-size: 13px;
	float: left;
	width: 100%;
	margin: 0;
}
/*==============================*/
/*====== Social Profile css =====*/
/*==============================*/
.countlist h3 {
	margin: 0;
	font-weight: 400;
	line-height: 28px;
}
.countlist {
	text-transform: uppercase
}
.countlist li {
	padding: 15px 30px 15px 0;
	font-size: 14px;
	text-align: left;
}
.countlist li small {
	font-size: 12px;
	margin: 0
}
.followbtn {
	float: right;
	margin: 22px;
}
.userprofile.social {
	background: url(http://www.bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg) no-repeat top center;
	background-size: 100%;
	padding: 50px 0;
	margin: 0
}
.userprofile.social .username {
	color: #ffffff
}
.userprofile.social .username+p {
	color: #ffffff;
	opacity: 0.8
}
.postbtn {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 9
}
.status-upload {
	width: 100%;
	float: left;
	margin-bottom: 15px
}
.posttimeline .panel {
	margin-bottom: 15px
}
.commentsblock {
	background: #f8f9fb;
}
.nopaddingbtm {
	margin-bottom: 0
}
/*==============================*/
/*====== Recently connected  heading =====*/
/*==============================*/
.memberblock {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px
}
.member {
	width: 24%;
	float: left;
	margin: 2px 1% 2px 0;
	background: #ffffff;
	border: 1px solid #d8d0c3;
	padding: 3px;
	position: relative;
	overflow: hidden
}
.memmbername {
	position: absolute;
	bottom: -30px;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	line-height: 30px;
	padding: 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	font-size: 11px;
	transition: 0.5s ease all;
}
.member:hover .memmbername {
	bottom: 0
}
.member img {
	width: 100%;
	transition: 0.5s ease all;
}
.member:hover img {
	opacity: 0.8;
	transform: scale(1.2)
}

.panel-default>.panel-heading {
    color: #607D8B;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    border-color: #e1eaef;
}



.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.page-header.small {
    position: relative;
    line-height: 22px;
    font-weight: 400;
    font-size: 20px;
}

.favorite i {
    color: #eb3147;
}

.btn i {
    font-size: 17px;
}

.panel {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    margin-bottom: 35px;
    border-radius: 0px;
    position: relative;
    border: 0;
    display: inline-block;
    width: 100%;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: 1px solid #eef2f4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #607d8b;
}

// Klanten 

#klantorders {
	overflow: auto;
max-height: 80vh;
}

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}

.invisible {
	display: none;
	visibility: hidden;
}

.rowtotal {
	font-size: 14px !important;;
}

.typeahead {
	top: 260px !important;
    left: -366px !important; 
    width: 334px !important;
    display: block;
}

.select2-container {
	width: 100% !important;
}
.select2-selection {
    height: 37px !important;
    padding-top: 5px !important;
}

.order {
	font-size: 13px;
}

// kodin tables

.table th, .table td {
    padding: 4px 4px !important;;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn-delete-row {
	    padding: 2px 5px 0px 6px;
    font-size: 10px;
}
  

.selectize-input {
	font-size: 14px;
//	padding: 0px 3px 7px 10px;
    max-height: 37px;
}

.bestellingrow > td {
	padding: 3px 3px 0px 3px !important;
	.form-group {
		margin-bottom: 0 !important;
	}
}

.table-striped > tbody > tr:nth-of-type(2n+1),
.table-striped > tbody > tr.odd {
    background-color: #D9EDF7;
}
.table-striped > tbody > tr.even {
    background-color: #FFF;
}

.card-magazijn {
	margin: 5px;
}

.btn-new-bestelling {
    margin: 10px;
}

#sidenavToggler {
	display: none;
	visibility: invisible;
}

.btn-extra-row {
	padding: 2px 5px 2px 5px !important;
}

.btn-small-height {
	padding: 1px 5px 1px 5px !important;
}

#bezorgd {
	font-weight: 600;
	color: green !important;
}

#onderweg {
	font-weight: 600;
	color: red !important;
}

#betaaldbedrag {
	display: none;
}

.logo {
	width: 87%;
	height: 40px;
}

.bg-dark {
background-color: #2f3c49 !important;
}

@media (min-width: 992px) {
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #e9ecef;
    margin-top: 66px;
}
}

.navbar-brand {
	    margin-top: 12px;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f7f7f7;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

.delete-agenda {
	color: red;
	font-size: 8px;
}

.bg-dark {
	background-color: #0f71b8 !important;
}

.logout-text {
    color: rgb(255, 255, 255) !important;
}

#noteinklant {
	border: 2px solid #dee2e6;
    margin-top: 10px;
    padding: 2px 2px 2px 6px;
    font-size: 11px;
}

#stockstock {
	font-size: 18px;
	display: none;
}
#stockhoeveelheid {
	font-weight: 700;
}

.redalert {
	color: red;
}
.orangealert {
	color: orange;
}
.greenalert {
	color: green;
}
.tab-content {
	padding: 0 !important;
}